.add-task-form {
  background-color: #AED9F5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
 
}

.add-task-button {
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #7FC5F3;
  color:black;
  font-weight:bold
}

.task-input {
  border-radius: 10px;
  padding: 10px;
}
